In [1]:
string1 = "Hello"
string2 = "Chethan"
concatenated_string = string1 + " " + string2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello Chethan

In [2]:
name = "Chethan"
age = 19
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Chethan, Age: 19

In [3]:
from string import Template
template = Template('Name: Chethan,age: 19')
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: Chethan,age: 19

In [4]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Chethan, Age: 19

In [6]:
result_add = 50 + 50
print("Addition result:", result_add)

Addition result: 100

In [7]:
result_sub = 92 - 7
print("Subtraction result:", result_sub)

Subtraction result: 85

In [8]:
result_mul = 9 * 9
print("Multiplication result:", result_mul)

Multiplication result: 81

In [9]:
result_div = 81 / 9
print("Division result:", result_div)

Division result: 9.0

In [11]:
result_exp = 3 ** 5
print("Exponentiation result:", result_exp)

Exponentiation result: 243

In [12]:
result_mod = 24 % 2
print("Modulus result:", result_mod)

Modulus result: 0

In [13]:
x = 10
x -= 3
print("After subtraction assignment:", x)

After subtraction assignment: 7

In [14]:
y = 5
y *= 2
print("After multiplication assignment:", y)

After multiplication assignment: 10

In [15]:
z = 15
z /= 4
print("After division assignment:", z)

After division assignment: 3.75